{% load mptt_tags %}

<header class="site-header navbar sticky-top py-1">

    <div class="logo-title mx-2 ms-lg-auto me-md-auto">
        <span class="">GADGET<hr>GALLERY</span>
    </div>

    <span class="searchbtn py-2 d-md-none d-md-inline-block"><i class="fa fa-search"></i></span>

    <button class="navbar-toggler m-2 d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    
    <nav id="nav-header" class="container d-md-flex flex-column d-none flex-md-row justify-content-between">
        
        <div class="underline-nav py-2 d-block d-md-inline-block dropdown" href="#">
            <div class="dropbtn">
                Accessories <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-content">
                                
                <div class="py-2 d-block dropdown">
                    {% recursetree category %}
 
                    <div class="{% if not node.is_leaf_node %}dropbtn d-flex justify-content-between{%endif%}">
                        <a href="{% url 'product:tag' node.id %}">{{node.tree_level}}{{node.tag_name}}</a>{% if not node.is_leaf_node %} <i class="fa fa-caret-right align-self-center"></i>{%endif%}
                        {% if not node.is_leaf_node %}
                        <div class="dropdown-children">
                            {{children}}
                        </div>
                        {%endif%}
                    </div>
                    {% endrecursetree%}
                </div>
                
            </div>
        </div>

        <div class="underline-nav py-2 d-block d-md-inline-block dropdown" href="#">
            <div class="dropbtn">
                Collections <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-content">
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </div>
        </div>
        <a class="py-2 d-block d-md-inline-block" href="{% url 'product:product' %}">Products</a>
        <a class="py-2 d-block d-md-inline-block" href="#">Features</a>
        <a class="py-2 d-block d-md-inline-block" href="#">Support</a>
        <a class="py-2 d-block d-md-inline-block" href="#">Pricing</a>
        <a class="py-2 d-block d-md-inline-block" href="#"><i class="fa fa-cart-plus"></i> Cart</a>
        <span class="searchbtn py-2 d-none d-lg-block d-md-inline-block"><i class="fa fa-search"></i></span>

        
    </nav>
    
    <div id="search" class="d-none container justify-content-center mb-2">
        <form>
            <input class="" type="text" placeholder="Search computers, phones, accessories, categories..." aria-label="Search">
            <button type="button">search</button>
        </form>
    </div>
</header>